@charset "utf-8";
/* CSS Document */
 
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color:#000;

}
body{
	font-size:14px;
	font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";
	background:#fff;
	margin:0;
	padding: 0;
	margin: 0 auto;
	/* overflow-x:hidden;溢出隐藏，去掉水平方向的，直接剪裁 */
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table{
	margin:0;
	padding:0;
}
input{	
	outline: none;
}
a,img{
	border:none;/*兼容ie浏览器*/
}
img{
	vertical-align:middle;
	border:0;
}
li{
	list-style:none;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none; 
	color:#666;
	border:0;
}
a:link{
	text-decoration:none; 
	color:#666;
}
a:visited{
	text-decoration:none; 
	color:#666;
}
a:hover{
	text-decoration:none; 
	color:#666;
}
a:active{
	text-decoration:none; 
	color:#666;
}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
/* .clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
} */
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}/*兼容ie浏览器*/
table{border-collapse:collapse;}
.fl {
    float: left;
}

.fr {
    float: right;
}